/* Styling for Body/ Header */
body {
    background-color: #e5e7eb;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

header {
    margin-bottom: 15px;
}

header h1 {
    display: inline-block;
    font-size: 42px;
    text-align: left;
    align-items: center;
    justify-content: space-around;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 14px;
    background-color: var(--dark);
    text-align: end;
}

nav ul {
    position: relative;
    right: 50px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: var(--font-color);
    font-size: 20px;
    padding: 7px;
    font-family: var(--font-fam);
    text-decoration: none;
}

.grow {
    color: rgb(15, 43, 25);
    font-size: 25px;
}

/* Styling for Figure */
figure {
    background-image: url(../assets/images/palm-tree-public-domain.jpg);
    background-size: cover;
    width: 100%;
    margin: auto;
    text-align: left;
}

figure img {
    height: 350px;
    width: 275px;
    border-radius: 100%;
}

#avatar {
    height: 350px;
    width: 275px;
    border-radius: 100%;

}

/* Styling for content within Body */

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: column;
}

main section {
    margin: 2% 5%;
    line-height: 2rem;
}

main section h2 {
    font-size: 32px;
    margin: auto;
    margin-bottom: 2%;
    margin-top: 2%;
}

main section h3 {
    font-size: 25px;
    margin: auto;
    margin-bottom: 2%;
    margin-top: 2%;
}

main section h4 {
    font-size: 20px;
    margin: auto;
    margin-bottom: 2%;
    margin-top: 2%;
}

main section p, li {
    font-size: 18px;
    margin: auto;
    margin-bottom: 2%;
    margin-top: 2%;
}

main section ul {
    list-style: inside;
    list-style-position: unset;
}

main {
    flex-wrap: wrap;
    display: flex;
}

h1 {
    font-size: 4rem;
    font-family: var(--impact);
    margin: 4% 0 2% 5%;
}

h2 {
    font-size: 32px;
    margin: auto;
}

h3 {
    font-size: 28px;
    margin: auto;
}

main section {
    margin: 2% 5%;
    line-height: 2rem;
}

main section h2,
h3 {
    margin-bottom: 2%;
    margin-top: 2%;
}

main section ul {
    list-style: inside;
    list-style-position: unset;
}


#my-apps {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

.project {
    padding: 10px;
    text-align: center;
    text-size-adjust: auto;
    border-style: solid;
    border-width: 1px;
    flex-direction: column;
}

.project h3 {
    padding: 10px;
    background: #060606;
    color: #000000;
}

.project-img {
    max-width: 600px;
    max-height: 450px;
}

.git-hub {
    max-width: 50px;
}

footer {
    display: flex;
    padding: 25px;
    justify-content: center;
    margin-top: 3%;
    font-size: 12px
  }

/* Media Query */
@media screen and (max-width: 1180px) {
    .trees section {
        display: flex;
        margin: 0;
        flex-wrap: wrap;
        justify-content: center;
    }

    .trees section div {
        margin: 3%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 600px) {
    .project-img {
        max-width: 300px;
    }

    nav ul li a {
        color: var(--font-color);
        font-size: 15px;
        padding: 7px;
        font-family: var(--font-fam);
        text-decoration: none;
    }

    header {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 10%;
    }

    header img {
        width: 100%;
    }

    textarea {
        width: 300px;
        height: 150px;
    }
}

form {
    margin-bottom: 20px;
}

.trees {
    background-image: url(./images/palm-tree-public-domain.jpg);
    color: rgb(0, 0, 0);

}

;